# -------------------------
# ScheduledMessages config
# -------------------------

# timezone = UTC offset in hours (e.g. 10 for AEST, -5 for EST)
timezone=11

# welcome = message sent to each player after they connect
welcome=Server restarts at 12am and 5am (NSW time).

# welcome-delay = number of seconds to delay the message sent to each player after they connect (recommend 30 minimum)
# NOTE: The countdown seems to start after they enter the server password.  There's a good 20 or so seconds afterwards
#       to actually connect (and that's on a good day)
#
# If people are not seeing the welcome message appear after a short delay, try making the delay longer (e.g. 60, or even 120)
#
welcome-delay=30


# Scheduled messages format:
#
# HH:mm <message text>  (24h time, one per line)
#
09:00 isbreen har ikkje teke deg !
12:00 Lunchtime already ?
17:00 It's five o'clock somewhere...

23:30 Server restart in 30 minutes.
23:40 Server restart in 20 minutes.
23:50 Server restart in 10 minutes.
23:55 Server restart in 5 minutes.
23:59 Server restart in 1 minute.

04:30 Server restart in 30 minutes.
04:40 Server restart in 20 minutes.
04:50 Server restart in 10 minutes.
04:55 Server restart in 5 minutes.
04:59 Server restart in 1 minute.
